@media (min-width: 768px) {
  * {
    font-family: Lato, sans-serif;
    margin: auto;
  }
  .mob-nav-container{
    display: none;
  }
  .mob-nav {
    display: none;
  }

  .top-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8rem;
    margin: 0 20px;
    padding: 0;
  }

  .logo img {
    width: 50px;
    padding: 5px 0;
  }

  .logo {
    margin: 10px;
  }

  .top-nav {
    display: flex;
    justify-content: center;
    gap: 270px;
  }

  .top-nav a {
    text-decoration: none;
    color: #172b4d;
  }

  .title-section {
    justify-content: start;
    padding-bottom: 10em;
    padding-top: 10px;
    background-color: #f7f7f7;
  }

  .title-section-wrapper {
    width: 720px;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .landing-text h1 {
    font-family: 'COCOGOOSE', sans-serif;
    color: #ec5242;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    text-transform: uppercase;
    width: 720px;
    margin: 0;
  }

  .landing-text h4 {
    color: #ec5242;
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
  }

  .landing-text p {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 15px;
    margin: 25px 10px 20px 0;
    width: 450px;
  }

  .date-place h2 {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
  }

  .date-place h3 {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
  }

  .main-program-section {
    margin: auto;
    background-color: #272a31;
  }

  .grid-container {
    margin: 4px;
    background: rgba(60, 63, 70, 0.8);
  }

  .main-program-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  .grid-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 10%;
  }

  .card-icon img {
    width: 40px;
  }

  .main-program-title-head h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 10px;
    color: white;
  }

  .main-program-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-align: center;
  }

  .underline {
    width: 4%;
    text-align: left;
    margin-left: 48%;
    height: 1px;
    background-color: #ec5242;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .main-program-title h2 {
    font-family: 'COCOGOOSE', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    margin-top: 10px;
    color: #ec5242;
  }

  .join-btn {
    display: flex;
    justify-content: center;
    padding: 70px 0;
  }

  .join-concert-button {
    font-family: 'COCOGOOSE', sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: underline;
    background: transparent;
    text-transform: capitalize;
  }

  .featured-section {
    margin: auto;
  }

  .featured-head h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;
    color: white;
  }

  .speaker-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .speaker-image {
    margin: 0;
  }

  .speaker-img {
    width: 90px;
    position: relative;
    left: -46px;
    top: 5px;
  }

  .empity-img {
    width: 60px;
    position: relative;
    left: 0;
    top: -37px;
  }

  .speaker-container {
    display: flex;
    padding: 40px 0 40px 16px;
    margin: 0;
  }

  .speaker-disc h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .disc-container {
    width: 392px;
  }

  .speaker-disc p {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    color: #ec5242;
    margin-bottom: 10px;
  }

  .discription p {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .feature-line {
    width: 10%;
    text-align: left;
    margin: 10px 0;
  }

  .more-btn {
    display: none;
  }

  .gg-arrows-scroll-v {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 6px;
    height: 16px;
  }

  .gg-arrows-scroll-v::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    margin-top: 4px;
    border-bottom: 2px solid;
    border-left: 2px solid;
  }

  .gg-arrows-scroll-v::before {
    border-top: 2px solid;
    border-right: 2px solid;
    bottom: 0;
  }

  /* ------------- about css start here ----------------- */

  .about-title-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 10px;
    background-color: #f7f7f7;
  }

  .about-landing-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .about-landing-text h1 {
    font-family: 'COCOGOOSE', sans-serif;
    color: #ec5242;
    font-style: normal;
    font-weight: 500;
    font-size: 53px;
    text-transform: uppercase;
    text-align: center;
  }

  .about-featured-head h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 10px;
  }

  .about-landing-text h4 {
    color: #ec5242;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
  }

  .middle-text {
    display: flex;
    justify-content: center;
  }

  .middle-text p {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #d3d3d3;
    padding: 15px;
    margin: 25px 10px;
    text-align: center;
    background-color: white;
    width: 720px;
  }

  .about-date-place h2 {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    width: 370px;
    margin-top: 20px;
  }

  .about-date-place h3 {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
  }

  .logo-section {
    margin: auto;
    padding-left: 10px;
  }

  .logo-img {
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }

  .logo-img img {
    width: 35%;
  }

  .logo-disc h2 {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    width: 370px;
    margin-top: 10px;
  }

  /* ------------------------ Revise --------------------------- */
  .past-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/past2.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .past-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    position: relative;
    color: #d3d3d3;
  }

  .past-image-disc {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .past-image-wrapper {
    background-color: #ec5242;
    mix-blend-mode: multiply;
    width: 360px;
    height: 320px;
  }

  .past-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  /* ------------------------ Revise --------------------------- */

  .partner-section {
    margin: auto;
  }

  .partners-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
    width: 760px;
  }

  .partner-section-wrapper {
    background-color: #272a31;
  }

  .sandbox-img {
    width: 100px;
  }

  .viking-img {
    width: 150px;
  }

  .underline-partner {
    width: 15%;
    text-align: left;
    margin-left: 42%;
    height: 1px;
    background-color: #ec5242;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .footer-wrappter {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    gap: 10px;
  }

  .footer-wrappter p {
    color: #272a31;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .footer-wrappter img {
    margin: 0;
  }

  .about-underline-partner {
    width: 4%;
    text-align: left;
    margin-left: 48%;
    height: 1px;
    background-color: #ec5242;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

@media (min-width: 1500px) {
  .speaker-wrapper {
    width: 70%;
  }
}
